# ======================
# Python
# ======================
__pycache__/
*.pyc
.venv/
.env

# ======================
# Spark
# ======================
spark-warehouse/
tmp/
*.crc

# ======================
# Data (no versionar outputs)
# ======================
data/

# ======================
# Logs
# ======================
logs/

# ======================
# OS
# ======================
.DS_Store

# ======================
# Airflow runtime (NO versionar)
# ======================
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/*.pid
airflow/webserver.pid
airflow/scheduler/
airflow/__pycache__/
airflow/dags/__pycache__/
airflow/.cache/
airflow/webserver_config.py
