# Python
__pycache__/
*.pyc
.venv/
.env

# Spark
spark-warehouse/
tmp/
*.crc

# Data
data/


# OS
.DS_Store


# Airflow
airflow/logs/
airflow/airflow.db

# Airflow runtime
airflow/*.pid
airflow/webserver_config.py
airflow/logs/
airflow/__pycache__/

# Logs
logs/
